@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", cursive;
}

body {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;    
}


/*--------------------------------------Nav Bar-----------*/

.navbar {
    flex: 1 1 20%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

nav {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
}

.navbar h1 {
    display: flex;
    align-self: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
}

.social-container {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 20%;
   height: 10vh;
}

.social-container li a i {
    height: 5vmin;
    width: 5vmin;
    font-size: 3vmin;
    color: #fff;
    padding: 1vmin 0;
    background-color: black;
    text-align: center;
    border-radius: 50%;
    margin-left: 10px;
}

/*---------------------------------Main Info---------*/

.content {
    flex: 1 1 80%;
    background-color: #636363;
    padding: 10vmin;
}

/*---------------------------------Footer------------*/

footer {
    height: 20vh;
    background-color: black;
    z-index: 1;
}

